*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#5A76FF;
    --secondary-color:#D589DD;
    --text-color:#4F4F4F;
    --text-color-dark:#090F32;
    --text-color-light:#FFFFFF;
    --heading-color:#090F32;
    --background-color:#FFFBF9;
    --background-color-alt:#e7e7e7a9;
    --accent-color:#FF733B;
    --heading-font:'Lora', serif;
    --body-font:'Plus Jakarta Sans', sans-serif;
    --font-family-sans:'Plus Jakarta Sans', sans-serif;
}

body{
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: li;
}


/* tegs */

/* Trypography */


h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin: 0;
    line-height: 1.2;
    font-weight: 600;
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 2.4rem;
}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1.8rem;
}

h6{
    font-size: 1.6rem;
}

p{
    margin: 0;
}

ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

/* anchor teg or Links / link / links */

a{
    text-decoration: none;
    color: var(--accent-color);
}

a:hover{
    text-decoration: underline;
}

/* Classes Start */
/* utilities */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Classes */

.text-center{
    text-align: center;
}

/* margin top */

.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mt-5{
    margin-top: 5rem;
}

/* margin bottom */

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}

.mb-5{
    margin-bottom: 5rem;
}

/* margin auto */

.my{
    margin: auto 0;
}

.mx{
    margin: 0 auto;
}

/* padding */

.p-1{
    padding: 1rem;
}

.p-2{
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.p-4{
    padding: 4rem;
}

.p-5{
    padding: 5rem;
}

/* line height */

.lh-1{
    line-height: 1rem;
}

.lh-2{
    line-height: 2rem;
}

.lh-3{
    line-height: 3rem;
}

.lh-4{
    line-height: 4rem;
}

.lh-5{
    line-height: 5rem;
}


/* others */

.mxw-50{
    max-width: 50%;
}

.h-50{
    height: 50%;
}


.pr-0{
    right: 0;
}

.circle{
    border-radius: 50%;
}

.tr-180{
    /* transition: ; */
    transform: rotate(180 );
}



.btn, button{
    margin-top: 5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(#f5f5f5);
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-dark{
    color: var(--text-color-dark) !important;
}

.text-light{
    color: var(--text-color-light) !important;
}

/* grid */

.grid{
    display: grid;
}

.cl-2{
    grid-template-columns: 1fr 1fr;
}

.cl-3{
    grid-template-columns: repeat(3, 1fr);
}


/* flex */

.flex{
    display: flex;
}

.sb{
    justify-content: space-between;
}

.ac{
    margin: auto 0;
}

.button{
    margin: 0;
}

.vh-100{
    height: 100vh;
}

.hero-top{
    background-image: linear-gradient(to top, #ff723b63 0%,#FFFBF9 0%, #ff723b11 100% );
}

.hero-cotent{
    position: relative;
    z-index: 2;
}

h1{
    margin-bottom: 1.2rem;
}


.lg{
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, #ff723b00 0%, #ff723ba9 100%);
    height: 35vh;
    width: 100%;
    z-index: 1;
    align-items: center
}

.lg img{
    position: absolute;
    bottom: 0;
}

.rg{
    position: relative;
    height: 80%;
    width: 10%;
    border: 0;
    border-radius: 50%;
    background-image: radial-gradient(#3b3eff3f 0%, #ff723b10 );
    margin: -2rem;
}

.gap{
    gap: 1.2rem;
}

.cp-1{
    align-items: center;
    padding: 1rem 0;
}

/* latest-projects section start */


.subtitle{
    color: var(--primary-color);
}

.latest-card{
    /* width: %; */
    background-color: var(--background-color-alt);
    padding: 2rem;
    border-radius: .8rem;
    box-shadow: #4F4F4F;
    margin: 1rem;
}


.latest-slider button{
    margin: 0 .2rem;
    
}

.latest-card-img{
    height: 45px;
    width: 45px;
    padding: 5px;
    background-color: var(--background-color);
    border: 0px;
    border-radius: .5rem;
}

.alt-color{
    background-color: var(--primary-color) !important;
}

.project-menu{
    padding: 1rem;
    background-color: var(--background-color-alt);
    border-radius: .8rem;
}

.project-active{
    background-color:  #4f4f4f41 ;
    padding: 5px;
    border-radius: .5rem;
}

.p-5px{
    padding: 5px;
}


.project-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 2rem 0;
}

.project-card-01{
    grid-column:span 3;
}

.project-card-02{
    grid-column:span 3;
}

.project-card-03{
    grid-column:span 4;
}

.project-card-04{
    grid-column:span 2;
}

.project-card{
    height: 415px;
    background-color:  #4f4f4f41 ;
    border-radius: 20px;
}

/* latest-project section ends */



/* my skill section start */



.project-menu{
    padding: 1rem;
    background-color: var(--background-color-alt);
    border-radius: .8rem;
}

.project-active{
    background-color:  #4f4f4f41 ;
    padding: 5px;
    border-radius: .5rem;
}

.p-5px{
    padding: 5px;
}


.skill-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 2rem 0;
}

.skill-01{
    grid-column:span 2;
}

.skill-02{
    grid-column:span 2;
}

.skill-03{
    grid-column:span 2;
}

.skill-04{
    grid-column:span 3;
}

.skill-05{
    grid-column:span 3;
}

.skill-card{
    height: 340px;
    background-color:  #4f4f4f41 ;
    border-radius: 20px;
}

/* my skill section ends */



/* skill-bar section start */

.skill-bar-top-text{

    justify-content: space-between;
}

.skill-bar-top-text p{
    line-height: 2rem;
    max-width: 30%;
    /* gap: 20%; */
}



/* skill prograse copyed */

/* Skill Progress Section */
.skill-progress {
    padding: 5rem 0;
}

.skill-progress-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
    gap: 2rem;
}

.section-subtitle {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.section-title {
    font-size: 2rem;
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin-bottom: 0.5rem;
    display: inline;
}


.section-text {
    font-size: 1rem;
    color: var(--text-color);
    max-width: 350px;
}

.progress-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.progress-item {
    width: 100%;
}

.progress-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--heading-color);
}


.progress-label .icon-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-color: #F3F7F8;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-label .icon-image img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}


.progress-label span {
    flex: 1;
}

.percent {
    font-weight: 600;
    color: var(--primary-color);
    min-width: 50px;
    text-align: right;
}

/* Progress Bar */
.progress-bar {
    width: 100%;
    height: 6px;
    background: #f1f1f6;
    border-radius: 6px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #4f63f9;
    border-radius: 6px;
    transition: width 1s ease-in-out;
}
/* skill prograse copyed */




/* success stoy start */

.success-story{
    width: 100%;
}

.success-story-left{
    width: 50%;
}


/* copyed */


.story-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1000px;
    margin: auto;
    align-items: center;
    background-color: var(--background-color-alt);
    padding: 2rem;
    border-radius: 12px;
}

.stats-card {
    height: 100%;
    background: #fff;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
    /* row-gap: 2rem; */
    display: grid;
    grid-template-rows: .20fr .20fr 1fr;
}

.stats-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: 500;
}

.stats-body {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 60px;
    height: 60px;
    background: #e0e0e0;
    border-radius: 50%;
}

.circle.big {
    width: 85px;
    height: 85px;
}

.circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.stats-footer {
    display: flex;
    justify-content: space-between;
}

.stat-box {
    height: max-content;
    flex: 1;
    padding: 1.2rem;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin: auto auto;
}

.stat-box p{
    font-size: 2rem;
}

.project {
    background: #6c63ff;
    color: #fff;
    margin-right: 1rem;
}

.project h3 {
    font-size: 3rem;
}

.growth {
    background: var(--background-color-alt);
    color: #1d1d35;
}

.growth h3 {
    font-size: 3rem;
}


/* Info Cards (Right) */
.info-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.info-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.info-card.marketing {
    text-align: center;
}

.info-card .envlope img {
    max-width: 40px;
    margin-bottom: 1rem;
}

.envlope{
    width: 60px;
    height: 60px;
    padding: 5px 5px 10px 5px;
    background-color: #00000010;
    border-radius: 20px;
    margin: 0 auto 1rem auto;
}

.info-card h4 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.info-card p {
    font-size: 0.95rem;
    color: #444;
}

.info-card.customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.info-card.customer .tags {
    margin-right: 0;
}

/* Tags */
.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tag {
    background: var(--background-color-alt);
    color: #333;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    font-size: 0.85rem;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

.tag:hover {
    background: #6c63ff;
    color: #fff;
}




/* copyed */

/* success stoy end */



/* footer start */

/* copyed */


/* Footer Styling */
.footer {
    /* background: #f7fafc; */
    background-image: url('../images/footer-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 2rem;
    font-family: "Poppins", sans-serif;
}

.footer-container {
    background: #fff;
    padding: 3rem;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
}

.footer .main-footer {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 2rem;
    padding: 3rem;
    border-radius: 12px;
    margin-bottom: 1.5rem;
}

/* About Section */
.footer-about h2 {
    font-size: 3rem;
    font-weight: 500;
    color: #1a1a3c;
    margin-bottom: 1rem;
}

.footer-about p {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.social-icons a {
    color: #1a1a3c;
    margin-right: 15px;
    font-size: 1rem;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #6c63ff;
}


/* Links */
.footer-links h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #1a1a3c;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 0.6rem;
}

.footer-links a {
    color: #666;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #6c63ff;
}


/* Newsletter */
.footer-newsletter h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #1a1a3c;
}

.footer-newsletter p {
    color: #666;
    margin-bottom: 1rem;
}

.footer-newsletter form {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.footer-newsletter input {
    flex: 1;
    padding: 0.8rem;
    border: none;
    outline: none;
}

.footer-newsletter button {
    margin-top: 0;
    background: #6c63ff;
    border: none;
    color: #fff;
    padding: 0 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.footer-newsletter button:hover {
    background: #5348d4;
}


/* Bottom */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
    flex-wrap: wrap;
}

.footer-bottom p {
    color: #666;
    font-size: 0.9rem;
}

.footer-bottom ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.footer-bottom a {
    color: #666;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-bottom a:hover {
    color: #6c63ff;
}



/* copyed */

/* footer end */